
  
  .letters {
     flex: 1 1 auto;
    flex-direction: row;
    
  }

  input{
    width: 4em;
    height: 4em;
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    margin-left: 3em;

  }
  
  .wordgameContainer {
    display: flex;
    margin: 20em;
    align-items: center;
    justify-content: space-between;
    height: 5lvh;

  }

  .modal-backdrop {
    background-color: transparent;
  } 

  .letter_hints{
    display: flex;
    flex-direction: column;
  
  }

  .definitions{
    display: flex;
    margin: 20em;
    align-items: center;
    justify-content: space-between;
    height: 5lvh;

  }

  


  
  