<h2>Login!</h2>
<h2>Create Account Here:</h2>

<div class="mb-3"> 
  <input type="text" class="form-control" id="username" [(ngModel)]="user.UserName" placeholder="username" required>
</div>
<div class="mb-3"> 
    <input type="text" class="form-control" id="firstname" [(ngModel)]="user.Firstame" placeholder="firstname" >
</div>

<div class="mb-3"> 
  <input type="text" class="form-control" id="lastname" [(ngModel)]="user.LastName" placeholder="lastname" >
</div>
<div class="mb-3"> 
  <input type="text" class="form-control" id="email" [(ngModel)]="user.Email" placeholder="email" required>
</div>

  <div class="mb-3">

    <input type="text" class="form-control" id="password" rows="3" [(ngModel)]="password"  placeholder="password" required>
  </div>

<div class="g_id_signin" data-type="standard"></div>

<button class="btn btn-success" (click)=handleLogin()>login</button>
