<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        <h1>Angular Material Sidenav</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/home">Home</a>
            <a mat-list-item routerLink="/signup">Signup</a>
            <a mat-list-item routerLink="/login">Login</a>
            <a mat-list-item>FAQ</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav class="side_end" opened mode="side" position="end"><app-player-info></app-player-info ></mat-sidenav>
    <mat-sidenav-content>
       
          <router-outlet></router-outlet>
        
    </mat-sidenav-content>
</mat-sidenav-container>  
